---
---

@import "{{ site.theme }}";

.current {
  color: green;
}

sitenav {
  z-index: 100;
  left:25%;
  margin-left:-16px;
  right:50%;
  height: 30px;
  margin-right:-398px;
  position: fixed;
  top: 165px;
  background: #ffaa00;
  border: 1px solid #e0a500;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);
  border-radius: 0px 2px 2px 0px;
  padding-right: 10px;

  .button {
    border: 1px solid #dba500;
    background: linear-gradient(rgb(255, 231, 136), rgb(255, 206, 56));
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.4), 0px 1px 1px rgba(0,0,0,.1);
    background-color: #FFE788;
    margin-left: 5px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:14px;
    color:#333;
    font-weight: bold;
    display:inline-block;
    text-align:center;

    &:hover {
      background: linear-gradient(rgb(255, 231, 136), rgb(255, 231, 136));
      background-color: #ffeca0;
    }
  }

  ul {
    list-style:none;
    height:40px;
    padding:0;
    float: left;
    margin-left:10px;

    li {
      display:inline;

      a.button {
        background-color: #FFE788;
      }
    }
  }

  #logo {
    position:absolute;
    height: 36px;
    width: 36px;
    right:7px;
    top:7px;
    display: block;
    background: url(../images/octocat-logo.svg);
  }
}
